<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>National Park Compass</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/compass.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/map">Map</a></div>
  </nav>

  <div id="compassAbout">
    <h1>About Us!</h1>
    <p>If you got here, congrats on finding the secret!</p>  
  </div>
  <script src="/assets/appBundle.js"></script>

</body>
</html>
