<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>National Park Compass</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/maker">Maker</a></div>
  </nav>

  <div id="domoAbout">
    <h1>About Us!</h1>
    <p>Domo Inc is a social media company ran entirely by monsters. We have great benifits!</p>  
    <img src="/assets/img/domoface.jpeg" alt="domo face"/>
  </div>
  <script src="/assets/appBundle.js"></script>

</body>
</html>
