#map {
	width: 100%;
	height: 400px;
}

/* https://icons8.com/icon/set/maps/material-rounded */
.poi {
	background-image: url('../images/icons8-location-96-color.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: sans-serif;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: sans-serif;
}

.mapboxgl-popup-content p{
	text-align: left;
}

#details-3 p{
	margin-bottom: 1em !important;
}

#favorites-list{
	height: 144px;
	overflow: auto;
}

.container {
	display: flex;               
	justify-content: left;     
	align-items: center;        
	text-align: left;          
	gap: 20px;  
}

nav {
	margin-top: 16%;
	display: flex;               
	justify-content: center;     
	align-items: center;        
	text-align: center;          
	gap: 20px;  
}

#errorMessageDiv {
	text-align: center;
}

#content {
	display: flex; 
	flex-direction: column;              
	justify-content: center;     
	align-items: center;        
	text-align: center;          
	gap: 20px;  
}

.container #logOut {
	margin-left: auto;
}

#compass, #logo {
	width: 100px;
	height: 100px;
}

/* .loginInput, label {
	margin: 20px;
} */

.formSubmit {
	margin-top: 10px;
}

/* CSS for the banner ad */

#bannerAdImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	max-width: 50%;
	max-height: 30%;
}

#bannerAdText, #errorMessage {
	text-align: center;
	margin-bottom: 30px;
}